/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    max-width: 800px; /* Adjusted for more space */
    display: flex;
    flex-direction: column;
}

h1 {
    margin-bottom: 20px;
}

.content {
    display: flex;
    justify-content: space-between;
}

.input-area {
    width: 60%;
    padding-right: 20px;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 200px; /* Adjusted for better height */
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%; /* Full width button */
}

button:hover {
    background-color: #0056b3;
}
/* styles.css */
.highlight {
    background-color: yellow;
}


.result-area {
    width: 35%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    text-align: left;
}

#result {
    margin-top: 0;
    font-weight: bold;
    color: #333;
}
